html {
    font-size: 16px;
    background-color: #E3BC9A;
    color: rgb(255, 255, 255);
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
    "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
    "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
    monospace;
}

.resume {
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin: 20px auto;
    width: 800px;
    height: 780px;
    border-radius: 10px;
    background-color: #122529;
    box-shadow: 0 8px 16px 0 rgba(64,64,64);
}

.body_dropdown {
    width: 194px;
    height: 20px;
    background-color: #122529;
    box-shadow: 0 6px 12px 0 rgba(64,64,64);
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    right: 0;
    z-index: 1;
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #122529;
    box-shadow: 0 6px 12px 0 rgba(64,64,64);
}
  
.dropdown-content a {
    display: block;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
}
  
.dropdown-content a:hover {
    background-color: #000000;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #000000;
}

.right_resume {
    width: 480px;
    font-size: 14px;
    padding: 0 300px;
    position: absolute; 
}

.left_resume {
    width: 280px;
    height: 780px;
    position: absolute;
    border-radius: 10px;
    letter-spacing: -1px;
    background-color: #36454F;
}

.left { 
    padding: 0 15px;
}

.left img {
    padding: 30px 0;
}

img {
    margin: auto;
    width: 150px;
    display: flex;
    border-radius: 50%;
    background-size: cover;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.skills {
    text-align: right;
    margin-bottom: 10px;
}

.details{
    width: 100%;
    display: flex;  
    margin-bottom: 10px;
    justify-content: space-between;
}

.bar{
    position: relative;
    border-radius: 20px;
    border: 2px solid #0d96e0;
  
}

.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #000000;
}

#html-bar{
    animation: html-fill 2s forwards;
}

@keyframes html-fill{
    100%{
        width: 90%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}

@keyframes css-fill{
    100%{
        width: 80%;
    }
}

#java-bar{
    animation: java-fill 2s forwards;
}

@keyframes java-fill{
    100%{
        width: 85%;
    }
}

#python-bar{
    animation: python-fill 2s forwards;
}

@keyframes python-fill{
    100%{
        width: 85%;
    }
}

#cpp-bar{
    animation: cpp-fill 2s forwards;
}

@keyframes cpp-fill{
    100%{
        width: 75%;
    }
}

.blue {
    color: #ADD8E6;
}
  
.gray {
    color: #808080;
}
  
.green {
    color: #90EE90;
}
  
.purple {
    color: #BA55D3;
}
  
.cyan {
    color: #00FFFF;
}
  
.red {
    color: #DC143C;
}