@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
   "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
   "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
   monospace;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   color: #FFFFFF;
}

.container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background-color: #E3BC9A;
}

.container .content{
   text-align: center;
}

.container .content h3{
   font-size: 30px;
   color:#122529;
}

.container .content h3 span{
   background: #DC143C;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#122529;
}

.container .content h1 span{
   color: #DC143C;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
   color: #000;
}

.container .content .btn{
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #808080;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: #122529;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #E3BC9A;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background:  #122529;
   text-align: center;
   width: 500px;
}

.form-container form{
   font-size: 20px;
   text-transform: none;
   margin-bottom: 10px;
}

.form-container form input{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
   color: #000;
}

.form-container form .form-btn{
   background: #808080;
   color: #fff;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: #000000;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color: #ADD8E6;
}

.form-container form p a{
   color: #90EE90;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: #000000;
   color:#FFFFFF;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

.green {
   color: #90EE90;
}

.blue {
   color: #ADD8E6;
}

.wrapper {
   /*This part is important for centering*/
   display: grid;
   place-items: center;
}
 
.typing {
   width: 29ch;
   animation: typing 2s steps(29), blink .5s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   font-size: 22px;
   font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
   "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",
   "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
   monospace;
}
 
@keyframes typing {
   from {
     width: 0
   }
}
     
@keyframes blink {
   50% {
     border-color: transparent
   }
}